p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    margin-right: 3%;
    text-justify: auto;
}

body{
    background-color: #fafafa;
}

ul{
    margin-left: 3%;
    margin-right: 5%;
}

li{
    font-family: Arial, Verdana, sans-serif;
}

#return{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Courier New', Arial, Verdana;
    font-size: 2.3em;
}

h2{
    margin-left: 10%;
    font-family: 'Courier New', Arial, Helvetica;
}

figure{
    text-align: center;
}

figure img{
    border-radius: 20px;
    box-shadow:  rgb(177, 177, 177) 4px 4px 5px;
}

#Conclusiones{
    text-align: center;
    font-size: 2.5em;
}